<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <title>Профиль пользователя</title>
    <link rel="stylesheet" href="/static/style/userpage.css">
    <script src="/static/script/userpage.js"></script>
</head>
<body>
<main class="page">
    <a href="/" class="top-left-button">На главную</a>
    <div class="profile-card">
        <!-- Блок с именем и логином пользователя -->
        <div class="profile-header">
            <div class="avatar" aria-label="Аватар пользователя">👤</div>
            <div class="user-details">
                <h1 class="user-name" id="user-name"></h1>
                <p class="user-login" id="user-login"></p>
            </div>
        </div>

        <!-- Блок со списком друзей -->
        <div class="friends-section" id="friends-section">
            <div class="friends-header">
                <h2 class="friends-title">Друзья</h2>
            </div>
            <div class="friends-list">

            </div>
        </div>
        <button class="logout-button" id="quit">Выйти из аккаунта</button>
    </div>
</main>
</body>
</html>